*{
    margin: 0;
    padding: 0;
}
form{
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}
input{
    position: relative;
    padding: 7px;
}
h1{
    position: relative;
    text-align: center;
    padding-top: 7%;
    color: black;
    height: 100vh;
}
p{
    color:white;
    font-size: large;
}
body{
    background-color: aliceblue;
    font-family: Arial, Calibri, sans-serif;
}